<div class="container6">
  <div id="contact">
    <nav>
      <p>
        Телефон: <a href="tel:+79219079065">89219079065</a><br>
        Сайт: <a href="http://явмясо.рф">явмясо.рф</a><br>
        Почта: <a href="mailto:yavmyasosnus@gmail.com">yavmyasosnus@gmail.com</a>
      </p>
    </nav>
    <%= image_tag("6.jpg")%>
  <footer class="py-4 text-center">
      <div class="container">
          <div class="agileinfo-grids">
              <div class="agile-grid-left agile-grid-right text-center">
                  <div class="social mb-4">
                      <ul>
                          <li><a href="https://www.instagram.com/ya_v_myaso_snu/"><span class="fa mr-2 fa-instagram"></span></a></li>
                          <li><a href="https://wa.me/79219079065"><span class="fa mr-2 fa-whatsapp"></span></a></li>
                          <li><a href="tel:+79219079065"><span class="fa mr-2 fa-phone"></span></a></li>
                          <li><a href="mailto:yavmyasosnus@gmail.com"><span class="fa mr-2 fa-envelope"></span></a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <a href="#home" class="move-top scroll"><span class="fa fa-angle-double-up" aria-hidden="true"></span></a>
      </div>
  </footer>
  </div>
</div>
